<div class="col s12">
	<div class="card">
		<div class="card-image">
			<img src="{{dish.dish.image}}">
		</div>
		<div class="card-content">
			<h5>{{dish.dish.name}} at {{dish.restaurant.name}}</h5>
			<p>{{dish.dish.description}}</p>
		</div>
		<div class="card-action">
			<a href="{{dish.restaurant.url}}">Visit {{dish.restaurant.name}}</a>
		</div>
	</div>
</div>